Description=Postgresql Gitlab Service
After=gitlabredis.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill gitlabpostgresql%i
ExecStartPre=-/usr/bin/docker rm gitlabpostgresql%i
ExecStartPre=-/usr/bin/docker pull sameersbn/postgresql:9.4
ExecStart=/usr/bin/docker run --name=gitlabpostgresql%i  \
          -e 'DB_NAME=gitlab' -e 'DB_USER=gitlab' -e 'DB_PASS=gitlab' \
          -v /mnt/data/stack-tools/gitlab-postgresql:/var/lib/postgresql \
          sameersbn/postgresql:9.4

ExecStop=-/usr/bin/docker stop gitlabpostgresql%i

[X-Fleet]
MachineOf=gitlabredis@%i.service
