[Unit]
Description=gitlab%i
After=gitlabpostgresql@%i.service
Requires=docker.service gitlabredis@%i.service gitlabpostgresql@%i.service

[Service]
User=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill gitlab%i
ExecStartPre=-/usr/bin/docker rm gitlab%i
ExecStartPre=-/usr/bin/docker pull sameersbn/gitlab:latest
ExecStart=/usr/bin/docker run --name gitlab%i -p 10022:22 \
  -e 'GITLAB_HTTPS=false' \
  -e 'GITLAB_SSH_PORT=10022' \
  -e 'VIRTUAL_HOST=gitlab.kuuji.ovh' \
  -e 'DB_NAME=gitlab' \
  -e 'DB_USER=gitlab' \
  -e "DB_PASS=gitlab" \
  -e 'GITLAB_HOST=gitlab.kuuji.ovh' \
  -v /mnt/data/gitlab:/home/git/data \
  --link gitlabredis%i:redisio \
  --link gitlabpostgresql%i:postgresql \
  sameersbn/gitlab:latest
ExecStop=-/usr/bin/docker stop gitlab%i
[X-Fleet]
MachineOf=gitlabpostgresql@%i.service
