[Unit]
Description=Mysql Redmine Norsys Service

[Service]
User=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mysql-redmine-norsys%i
ExecStartPre=-/usr/bin/docker rm mysql-redmine-norsys%i
ExecStartPre=-/usr/bin/docker pull hub-docker.norsys.fr/forge-infra/redmine-mysql
ExecStart=/usr/bin/docker run --name=mysql-redmine-norsys%i  \
              -e 'DB_NAME=redmine_production' -e 'DB_USER=redmine' -e 'DB_PASS=password'\
               -v /mnt/data/redmine/data-mysql:/var/lib/mysql \
               -p 0.0.0.0:3306:3306 \
               hub-docker.norsys.fr/forge-infra/redmine-mysql
ExecStop=-/usr/bin/docker stop mysql-redmine-norsys%i
