[Unit]
Description=redmine%i
After=mysql-redmine@%i.service

[Service]
User=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redmine%i
ExecStartPre=-/usr/bin/docker rm redmine%i
ExecStartPre=-/usr/bin/docker pull sameersbn/redmine:latest
ExecStart=/usr/bin/docker run --name redmine%i  \
  -e "DB_TYPE=mysql" \
  -e "DB_HOST=172.17.42.1" \
  -e "DB_NAME=dbredmine" \
  -e "DB_USER=redmine" \
  -e "DB_PASS=MDP2redmine" \
  -e "VIRTUAL_HOST=redmine.beertoobeer.com" \
  -v /mnt/data/redmine/data-instance:/home/redmine/data sameersbn/redmine:latest
ExecStop=-/usr/bin/docker stop redmine%i

[X-Fleet]
MachineOf=mysql-redmine@%i.service
