[Unit]
Description=redmine-lyon%i
After=mysql-redmine-lyon@%i.service

[Service]
User=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redmine-lyon%i
ExecStartPre=-/usr/bin/docker rm redmine-lyon%i
ExecStartPre=-/usr/bin/docker pull hub-docker.norsys.fr/forge-infra/redmine-instance
ExecStart=/usr/bin/docker run --name redmine-lyon%i  \
  -e "SSL_CERTIFICATE_PATH=/home/redmine/certs/norsys.cer" \
  -e "SSL_KEY_PATH=/home/redmine/certs/norsys.key" \
  -e "DB_TYPE=mysql" \
  -e "DB_HOST=172.17.42.1" \
  -e "DB_NAME=redmine_production" \
  -e "DB_USER=redmine" \
  -e "DB_PASS=password" \
  -e "VIRTUAL_HOST=redmine.norsys.fr" \
  -v /home/core/certs:/home/redmine/certs \
  -v /mnt/data/redmine-lyon/data-instance:/home/redmine/data hub-docker.norsys.fr/forge-infra/redmine-instance
ExecStop=-/usr/bin/docker stop redmine-lyon%i

[X-Fleet]
MachineOf=mysql-redmine-lyon@%i.service
